<div id="header">
  <!-- left -->
  <div class="site-name">
    <a href="/" id="logo">title</a>
  </div>
  <!-- right -->
  <div class="nav-menu">
    <a class="current" href="">Home</a>
    <a href="">Archive</a>
    <a href="">About</a>
    <a href="">More</a>
  </div>
</div>
