<div id="header">
  <!-- left -->
  <div class="site-name">
    <a href="/" id="logo">title</a>
  </div>
  <!-- right -->
  <div class="nav-menu">
    <a class="current" href="">Home</a>
    <a href="Javascript:alert('正在施工...')">Archive</a>
    <a href="Javascript:alert('正在施工...')">About</a>
    <!-- <a href="">More</a> -->
    <a href="Javascript:alert('正在施工...')">Login</a>
  </div>
</div>
