<% posts.forEach((post)=>{ %>
<div class="post">
  <a href="/">
    <h1 class="post-title">title</h1>
  </a>
  time
  <div class="post-content">
    content
    <span>...</span>
  </div>
  detail
</div>
<%});%>
