#header {
  position: relative;
  padding: 60px 0 0;
  border-bottom: 1px solid #ddd;
}
.site-name {
  margin: 0 0 40px;
}
#logo {
  font: bold 38px / 1.12 "Times New Roman", Georgia, Times, sans-serif;
  color: #555;
}

.nav-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 -1px;
  line-height: 30px;
  font: normal normal normal 14px / 1 FontAwesome;
}

.nav-menu a {
  padding: 12px 20px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
.nav-menu a:hover {
  /* background-color: #f0f0f0; */
  border-bottom-color: #444;
}

.nav-menu a.current {
  border: 1px solid #ddd;
  border-bottom-color: #fff;
}
