<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title: "首页"}) %>
  <body>
    <div class="body_container">
      <%- include("partials/header") %>
      <div id="layout">
        <!-- 主体 -->
        <div id="content-container">
          <%- include("partials/posts", {posts: [1,1,1]}) %>

        </div>
        <%- include("partials/sidebar") %>
      </div>
    </div>
  </body>
</html>
