<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title: "首页"}) %>
  <body>
    <div class="body-container">
      <%- include("partials/header", {current: "Home"}) %>
      <div id="layout">
        <!-- 主体 -->
        <div id="content-container">
          <%- include("partials/postsInfo", {posts: posts}) %>
        </div>
        <%- include("partials/sidebar") %>
      </div>
    </div>
  </body>
</html>
